<div id="navbar">
    <h2>Leonardo Bishop</h2>
    <a href="/">home</a>
    <a href="/now">now</a>
    <a href="/blog">blog</a>
    <a href="/projects">projects</a>
    <!-- <a href="/spotify">spotify</a> -->
    <a href="/contact">contact</a>
</div>
