<!DOCTYPE html>
<html>
<head>
    <title>Page not found</title>
    <link rel="stylesheet" href="/css/globalstyles.css">
</head>
<body>
    <div id="main-container">
        <%- include('partials/navbar') %>
        <div id="content-container">
            <div id="content">
                <h1>Page not found</h1>
            </div>
        </div>
    </div>
</body>
</html>
