<pre class="website-name">


  ██      ███████  ██████  ███    ██  █████  ██████  ██████   ██████      ██████  ██ ███████ ██   ██  ██████  ██████  
  ██      ██      ██    ██ ████   ██ ██   ██ ██   ██ ██   ██ ██    ██     ██   ██ ██ ██      ██   ██ ██    ██ ██   ██ 
  ██      █████   ██    ██ ██ ██  ██ ███████ ██████  ██   ██ ██    ██     ██████  ██ ███████ ███████ ██    ██ ██████  
  ██      ██      ██    ██ ██  ██ ██ ██   ██ ██   ██ ██   ██ ██    ██     ██   ██ ██      ██ ██   ██ ██    ██ ██      
  ███████ ███████  ██████  ██   ████ ██   ██ ██   ██ ██████   ██████      ██████  ██ ███████ ██   ██  ██████  ██           


</pre>
<div id="navbar">
    <%- navbar %>
</div>