@import 'variables.css';

html, body {
    border: 0;
    margin: 0;
    background-color: #111;
    color: #ddd;
    line-height: 1.6;
    font-size: 18px;
    font-family: var(--font-sans-serif);
}

.small {
    font-size: 0.8rem;
}

#main-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-height: calc(100vh - 1rem);
}

#navbar {
    padding: 2rem 1rem 1rem 6rem;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 0.4rem;
    font-size: 0.9em;
    font-family: var(--font-monospace);
}

@media only screen and (max-width: 1000px) {
    #navbar {
        padding-left: 1rem;
    }
}

a {
    color: var(--color-text-link);
    text-decoration: underline dotted var(--color-text-link);
}

a:hover {
    background-color: var(--color-text-link-bg);
}

#content-container {
    overflow: scroll;
    max-height: 100%;
    flex-grow: 1;
    scrollbar-color: var(--color-scrollbar) var(--color-background);
}

::-webkit-scrollbar {
    width: 4px;
    background: var(--color-background);
}

::-webkit-scrollbar-thumb {
    background: var(--color-scrollbar);
    border-radius: 2px;
}

::-webkit-scrollbar-corner {
    background: none;
}

#content {
    margin: 8rem auto 6rem auto;
    width: 700px; 
}

h1, h2, h3, h4 {
    font-family: var(--font-monospace);
}

.monospace {
    font-family: var(--font-monospace);
}

code {
    font-family: var(--font-monospace);
}
