<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/globalstyles.css">
</head>
<body>
    <div id="main-container">
        <%- include('partials/header') %>
        <div id="content-container">
            <%- include('partials/navbar') %>
            <div id="content">
                <%- page %>
            </div>
        </div>
    </div>
</body>
</html>